<!DOCTYPE html>
<html>
<head>
	<title>Home | Daily10dollars</title>
</head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>

<div class='container'>		
<nav class="navbar navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="color:orange;">
        <span class="icon-bar" style="color:blue;"><b>-</b></span>
        <span class="icon-bar" style="color:blue"><b>-</b></span>
        <span class="icon-bar" style="color:blue;"><b>-</b></span> 
      </button>
      <a class="navbar-brand" href="#">Daily1$$Dollars</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
		<li><a href="{% url  'basic_site:payments' %}">Check your payments</a></li>
		<li><a href="{% url  'basic_site:register' %}">Register</a></li>
		<li><a href="">About</a></li>
		<li><a href="">Contact us</a></li>
 
      </ul>
     
    </div>
  </div>
</div>
</nav>
<div class="container">
  <img src="/Media/home1.jpg" class="img-responsive">
  
</div>
<br>
<div class="container">

<div style="font-size: 25px">
  
<p>We are Proud to Inform You that Daily100dollars.com    is Award Winning Best Organisation Providing Data Entry Jobs. Daily100dollars.com   Work Platform For Data Entry Jobs Online. You Earn Amazing US/UK Rates By Working Online From India, Online From Your Home for Our Tie-Up International Companies World Wide. If You Work Daily, You Can Easily Earn Extra Rs.300-700 /Day by doing simple data entry and form filling at your own spare part time.</p>
</div>
</div>
<div class="container" style="font-style: timesnewroman">
  <h5>Welcome to Daily100dollars.com

Are you looking for an online job to work from home? Do you want to earn money online by working from home? <br>

Work Part time / Full time and Earn Money from Online Jobs, Data Entry Jobs, and Form filling jobs. <br>
Become a Freelancer Worker & Work For Companies on Per Project Bases! 
<br>
<h3>
  
>> Do Data Entry Online & Work For Companies World Wide.
<br>
>> Get Amazing US/UK Rates By Working Online From India.
<br>
>> All Work Is Done Online So You Can Work From Home at Your Own Spare Time.
<br>
>﻿﻿> Earn Extra Rs.500-700/ Online For Data Entry W﻿﻿ork.<br>
>> You Need Good Internet Connection and a PC, Laptop or a Mobile.<br>

>> Easy To Use Profile Work Dashboard. No Pressure/Work Load<br>

>> No previous work experience required. Basic computer typing knowledge is good to go.<br>

>> Best Way to Work From Home and Get Paid Weekly.</h5>
</h3>
</div>
<div  class="container">
  <p style="font-color:red;"><b>How it Works?</b></p>
<br>
Step 1 - Login to your account
<br>

Step 2 - Browse Work Projects By Various International Companies
<br>

Step 3 - Select The Job Matching Your Skills
<br>

Step 4 - Do Data Entry Work On Your Assigned Project.
<br>

Step 5 - Get Paid Instantly By International Companies On Completing Each Project.
<br>
</div>
<div class="container">
  <img src="Media/home2.jpg">
  
</div>
<div class="container">
 <a href="">Privacy</a><a>Policy Earnings</a><a> Disclaimer Terms & Conditions</a> <a>Contact Us
Copyright © 2018 Daily100dollars Organisation -</a> <a>All Rights Reserved.</a>
</div>
</body>
</html>