<!DOCTYPE html>
<html>
<head>
	<title>Register | Daily10dollars</title>
</head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>

<div class='container'>		
<nav class="navbar navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="color:orange;">
        <span class="icon-bar" style="color:blue;"><b>-</b></span>
        <span class="icon-bar" style="color:blue"><b>-</b></span>
        <span class="icon-bar" style="color:blue;"><b>-</b></span> 
      </button>
      <a class="navbar-brand" href="#">Daily1$$Dollars</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
		<li><a href="">Check your payments</a></li>
		<li><a href="#">Register</a></li>
		<li><a href="">About</a></li>
		<li><a href="">Contact us</a></li>
      </ul>
     
    </div>
  </div>
</div>
</nav>
<div class="col-md-4 col-md-offset-4">	
<div class="container">
<a href="{% url 'basic_site:google' %}"><button  type="button" class="btn btn-default btn-lg">
	<span class="glyphicon glyphicon-envelope"></span> Login with Google+</button><a>
</a>
<br>
<br>
<a href="{% url 'basic_site:facebook' %}"> <button type="button" class="btn btn-primary btn-lg"><i class="fa fa-facebook-square"></i>         Login with Facebook</button>
</a>
</div>

</div>
</div>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<form method="post" action=''>
<div class="container-fluid">
<div class="form-group">
<div class="col-md-4 col-md-offset-4">
<p><b>Login In</b></p>
  <label class="label-control" for="email">user name</label>
  <input type="email" class="form-control" name="username" placeholder="Example@gmail.com" id="email">
  <label for="pwd">Password</label>
  <input type="Password" class="form-control" name="name" placeholder="Password" id="pwd">
  <br>
      <a href=""><button type="submit" class="btn btn-primary col-md-2" >login</button> </a>
     <div class="container-fluid text-right">
     <br>
     <a href="C:/Users/mugeshkumaar/Desktop/new/forgot%20password.html">Forgot password ?</a>
     </div>
</div>

  
</form>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
 <a href="">Privacy</a><a>Policy Earnings</a><a> Disclaimer Terms & Conditions</a> <a>Contact Us
Copyright © 2018 Daily100dollars Organisation -</a> <a>All Rights Reserved.</a>
</div>
</body>
</html>